<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fabric专题</title>
</head>
<body>
	<div>
    <h3>Fabric专题</h3>
		<ol>
      <li><a href="###" target="_blank">Fabric是什么？</a></li>
        <ul>
          <li><a href="###" target="_blank">Python库、轻量级自动化运维工具.</a></li>
          <li><a href="###" target="_blank">流水线化执行SSH以部署应用或系统管理任务</a></li>
        </ul>
      <li>
        <a href="###" target="_blank">Fabric与Paramiko？</a>
        <ul>
          <li><a href="###" target="_blank">Fabric是Parmiko的更高层次的封装，主打命令行执行.</a></li>
          <li><a href="###" target="_blank">Parmiko使用更灵活，作为SSH库的方式使用.</a></li>
        </ul>
      </li>
      <li>Fabric入门？
        <ul>
          <li><a href="http://www.fabfile.org/installing.html" target="_blank">安装Fabric</a></li>
          <li><a href="http://docs.fabfile.org/en/1.13/" target="_blank">Fabric文档（1.13）</a></li>
          <li><a href="http://docs.fabfile.org/en/1.13/tutorial.html" target="_blank">Fabric Tutorial</a></li>
        </ul>
      </li>
      <li>
        <a href="###" target="_blank">Fabric与Celery？</a>
        <ul>
          <li><a href="###" target="_blank">execute in views</a></li>
          <li><a href="###" target="_blank">execute in celery</a></li>
        </ul>
      </li>
    </ol>
	</div>
</body>
</html>